@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}
html {
  background-color: #111;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
